*, *::before,*::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;

}

*{

    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(to right, #00AAFF,#00FF6C);
}
.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(4,120px);
    grid-template-rows: minmax(80px,auto) repeat(5,70px);

    
 }
 .container > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
 }
 .container > button:hover{
    background-color: rgba(255,255,255,.9);
 }
.span-double{
    grid-column: span 2;
}
.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;

}
.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size:1.5 rem 
    ;
     
}
.output .present-operand{
    color: white;
    font-size: 2.5rem;
}
