*, *::before,*::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;

}

*{

    margin: 0;
    padding: 0;

}

body{

    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 209, 247));
    
}
.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 97vh;
    color: #0576ff;
    
    grid-template-columns:150px 150px 150px 200px;
    
    grid-template-rows:100px repeat(5,60px);

    
 }
 .container > button{
    color: aliceblue;
    font-size: 25px;
    background-color:#23252d;
    border-color: rgb(95, 95, 95);

 }
 .container > button:hover{
    background-color:#474747;
    transition-duration: 0.2s;

 }
 

.button-span-double{
    grid-column: span 2;


}



.output {
    grid-column: 1/-1;

    background-color: #15171c;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;

}
.output .previous-operand{
    color: #3bd455;
    font-size:1.5;
     
}
.output .present-operand{
    color: white;
    font-size: 2.5rem;
}
