*, *::before,*::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;

}

*{

    margin: 0;
    padding: 0;

}
body{
    background: linear-gradient(to right, #00AAFF,#00FF6C);
}
.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);

    
 }
 .container > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
 }
 .container > button:hover{
    background-color: rgba(255,255,255,.9);
 }
.span-double{
    grid-column: span 2;
}